<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/"  xmlns:set="http://www.sitecore.net/xmlconfig/set/">
  <sitecore>
    <settings>
      <setting name="Umbrella.PanTau.Installed" value="true"/>
    </settings>
    <layoutService>
      <configurations>

        <config name="umbrella">
          <rendering ref="/sitecore/layoutService/configurations/config[@name='jss']/rendering">
            <placeholdersResolver type="Sitecore.LayoutService.Placeholders.DynamicPlaceholdersResolver, Sitecore.LayoutService" />
            <itemSerializer type="Sitecore.JavaScriptServices.ViewEngine.LayoutService.JssItemSerializer, Sitecore.JavaScriptServices.ViewEngine" resolve="true">
              <AlwaysIncludeEmptyFields>true</AlwaysIncludeEmptyFields>
            </itemSerializer>
            use this if content need to be empty Umbrella.PanTau.Resolvers.RenderingContentsResolver, Umbrella.PanTau
            <renderingContentsResolver type="Sitecore.LayoutService.ItemRendering.ContentsResolvers.RenderingContentsResolver, Sitecore.LayoutService" resolve="true">
              <IncludeServerUrlInMediaUrls>true</IncludeServerUrlInMediaUrls>
            </renderingContentsResolver>
          </rendering>
          <serialization ref="/sitecore/layoutService/configurations/config[@name='jss']/serialization">
            <transformer type="Umbrella.PanTau.Transformers.LayoutTransformer, Umbrella.PanTau" resolve="true" />
          </serialization>
        </config>

      </configurations>
    </layoutService>

    <pipelines>
      <group groupName="layoutService">
        <pipelines>

          <renderJsonRendering>
            <processor type="Sitecore.JavaScriptServices.ViewEngine.LayoutService.Pipelines.RenderJsonRendering.AddComponentName, Sitecore.JavaScriptServices.ViewEngine" resolve="true">
              <AllowedConfigurations hint="list">
                <config id="1">jss</config>
                <config id="2">umbrella</config>
              </AllowedConfigurations>
            </processor>
          </renderJsonRendering>

          <getFieldSerializer performanceCritical="true">
            <processor
              type="Sitecore.LayoutService.Serialization.Pipelines.GetFieldSerializer.GetImageFieldSerializer, Sitecore.LayoutService"
              resolve="true"
              patch:before="processor[@type='Sitecore.LayoutService.Serialization.Pipelines.GetFieldSerializer.GetDefaultFieldSerializer, Sitecore.LayoutService']">
              <patch:attribute name="type">Umbrella.PanTau.Serialization.Pipelines.GetFieldSerializer.GetImageFieldSerializer, Umbrella.PanTau</patch:attribute>
            </processor>
          </getFieldSerializer>
        </pipelines>
      </group>
    </pipelines>

  </sitecore>
</configuration>